export(bootstrap.grow.prune)
export(bootstrap.size)
export(grow.MST)
export(MST)
export(MST.plot)
export(MST.plot.latex)
export(prune.size.testsample)
export(rmultime)
export(send.down)

import(survival,MASS)

importFrom("grDevices", "dev.off", "pdf", "postscript")
importFrom("graphics", "legend", "lines", "par", "plot", "text")
importFrom("stats", "aggregate", "coef", "complete.cases", "na.omit",
           "optim", "pnorm", "quantile", "rexp", "rgamma", "rnorm",
           "runif", "rweibull")
